* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: white;
  --color-black: black;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1f8;
  --color-gray-2: #b2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  --br-sm-2: 14px;
}
